body {
    background-color: #e9e9e9;
    font-family: Helvetica, Arial, sans-serif;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 2rem;
}

header > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 5rem;
}

nav ul {
    list-style: none;
    text-align: center;
    display: flex;
    background-color: #495E57;
    justify-content: center;
}

nav li a {
    display: block;
    color: #e9e9e9;
    padding: 1rem 2rem;
    text-decoration: none;
}

nav li a:hover {
    background-color: #3a4e47;
}

section {
    display: flex;
}

article {
    flex: 1;
}

.banner {
    position: relative;
    text-align: left;
    color: #495E57;
    text-shadow: 0px 0px 10px #ffffff;
}

.banner img {
    width: 100%;
}

.banner article {
    position: absolute;
    bottom: 1rem;
    left: 2rem;
    right: 2rem;
}

.options {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.options article {
    background-color: #495E57;
    color: #e9e9e9;
    width: 33.33%;
    margin-top: 1rem;
    margin-bottom: 2rem;
    margin-right: 1em;
    transition: transform 0.2s ease-in-out;
}

.options article:hover {
  transform: scale(1.02);
}

.p-cutoff {
    --max-lines: 3;
    --line-height: 1.4;

    max-height: calc(var(--max-lines) * 1em * var(--line-height));
    line-height: var(--line-height);

    overflow: hidden;
    position: relative;
}

.p-cutoff:has(+ .expand:not(:checked))::before {
    content:  "";
    position: absolute;
    height: calc(1em * var(--line-height));
    width: 100%;
    bottom: 0;
    pointer-events: none;
    background: linear-gradient(to bottom, transparent, #495E57);
}

.expand {
    appearance: none;
    padding: 2%;
    margin-left: 85%;
    margin-bottom: 5%;
    cursor: pointer;
    margin-top: 0.5rem;
    color: #e9e9e9;
}

.expand:hover {
    color: #F4CE14;
}

.expand::before {
    content: "...";
    font-size: 1.5rem;
}

.expand:checked::before {
    content: "^";
}

.p-cutoff:has(+ .expand:checked) {
    max-height: none;
}


.options h2,.p-cutoff {
    margin-left: 5%;
    margin-right: 5%;
}

.options .last {
    margin-right: 0em;
}

.options img {
    width: 100%;
}

footer {
    display: flex;
}

footer div {
    flex: 1;
    color: #495E57;
    text-align: left;
    border-top: 0.15rem solid #495E57;
    padding-top: 2%;
}

.coprights {
    text-align: right;
}

footer div > img {
    height: 4rem;
}

@media only screen and (max-width: 700px) {
   .options {
    flex-direction: column;
  }

  .options article {
    width: 100%;
  }

  nav ul {
    flex-direction: column;
    align-self: center;
    padding: 0;
  }

}